/********** Template CSS **********/
:root {
    --primary: #b6b6b6;
    --secondary: #34AD54;
    --light: #EEF9FF;
    --dark: #211d1d;
}


/*** Spinner ***/
.spinner {
    width: 40px;
    height: 40px;
    background: var(--primary);
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 800 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}


/*** Button ***/
.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    position: relative;
    margin-left: 23px;
    padding: 35px 0;
    color: #b6b6b6;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #858585;
}

.navbar-dark .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: var(--dark);
    }

    .navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}

@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        /*border-bottom: 1px solid rgba(256, 256, 256, .1);*/
        z-index: 999;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: #e9ad3a;
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}


/*** Carousel ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   /*background: linear-gradient(90deg, rgba(33,29,29,1) 0%, rgba(222,222,222,0.4206057422969187) 57%);*/
   /*background: linear-gradient(90deg, rgba(33,29,29,1) 0%, rgba(222,222,222,0.06206232492997199) 57%);*/
    background-color: rgb(33 29 29 / 78%);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background-color: #211d1d;
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}


/*** Service ***/
.service-item {
    position: relative;
    height: 300px;
    padding: 0 30px;
    transition: .5s;
}

.service-item .service-icon {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 2px;
    transform: rotate(-45deg);
}

.service-item .service-icon i {
    transform: rotate(45deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}


/*** Team ***/
.team-item {
    transition: .5s;
    margin: 0px 10px;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    transition: .5s;
    padding: 20px;
    border-bottom:1px solid #303030 ;
}

.team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.team-social .show-1 {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
    color: #fff;
}

.team-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.team-item:hover .team-social {
    background: rgb(33 29 29);
    box-shadow: 0 0 30px #dddddd;
}


.team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item:hover .team-social .show-1 {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 10px;
    transition: .3s .1s;
    font-size: 14px;
}

.team-img img {
    padding: 20px;
}

.team-item .team-img img,
.blog-item .blog-img img  {
    transition: .5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
    transform: scale(1.15);
}

.blog-item {
    background-color: #eeeeee;
}


/*** Miscellaneous ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.link-animated a {
    transition: .5s;
}

.link-animated a:hover {
    padding-left: 10px;
}

@media (min-width: 767.98px) {
    /*.footer-about {
        margin-bottom: -75px;
    }*/
}

.about-h p{
    font-size: 20px;
}

.hero-bg-1 {
    position: absolute;
    left: 30px;
    top: 200px;
    z-index: 2;
}

.up-down-animation {
    animation: up_down 3s ease-in infinite alternate-reverse;
}

.hero-bg-2 {
    position: absolute;
    top: 50%;
    left: 20%;
    z-index: 2;
}

.left-right-animation {
    animation: left_right 3s ease-in infinite alternate-reverse;
}

.hero-bg-3 {
    position: absolute;
    bottom: 0%;
    left: 10%;
    z-index: 2;
}
.left-right-animation {
    animation: left_right 3s ease-in infinite alternate-reverse;
}

.hero-bg-4 {
    top: 210px;
    right: 40%;
    position: absolute;
    z-index: 2;
}

.up-down-animation {
    animation: up_down 3s ease-in infinite alternate-reverse;
}

.hero-bg-5 {
    position: absolute;
    top: 250px;
    right: 17%;
    z-index: 2;
}

.left-right-animation {
    animation: left_right 3s ease-in infinite alternate-reverse;
}

.hero-bg-6 {
    position: absolute;
    right: 10%;
    bottom: 20%;
    z-index: 2;
}

.up-down-animation {
    animation: up_down 3s ease-in infinite alternate-reverse;
}

.hero-bg-7 {
    position: absolute;
    left: 20%;
    bottom: -17%;
    z-index: 1;
}

.left-right-animation {
    animation: left_right 3s ease-in infinite alternate-reverse;
}

.hero-bg-8 {
    position: absolute;
    bottom: -30%;
    right: 50%;
    z-index: 1;
}

.up-down-animation {
    animation: up_down 3s ease-in infinite alternate-reverse;
}

.hero-bg-9 {
    position: absolute;
    right: 20%;
    bottom: -10%;
    z-index: 1;
}

.up-down-animation {
    animation: up_down 3s ease-in infinite alternate-reverse;
}

.left-right-animation {
  animation: left_right 3s ease-in infinite alternate-reverse;
}

@keyframes left_right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-20px);
  }
}

.up-down-animation {
  animation: up_down 3s ease-in infinite alternate-reverse;
}

@keyframes up_down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

.zindex-1{
  z-index: 1;
}

.content-banner {
    text-align: left;
}

.product-bg {
    background-color: #f7f7f7;
}

.testimonial-item  {
    background-color: #fbfbfb !important;
}
.why-choose  {
    background: linear-gradient(180deg, rgb(65 65 65 / 61%) 0%, rgb(180 180 180 / 23%) 100%);
}

.why-choose .why-choose-text h4{
    color: #211d1d;
}

.why-choose .why-choose-text .bg-icon {
    background-color: #fff;
    width: 100px;
    height: 100px;
    padding: 15px;
    border-radius: 50px;
}

.footer {
    background-color: #211d1d;
}

.sticky-top.navbar-dark .btn i{
   color: #000 !important;
} 

.bredcrumb {
    background-color: #E8E8E8;
}

.pro-details_slider .owl-dots {
    display: inline-block;
}
.pro-details_slider .owl-dots .owl-dot {
    background: none repeat scroll 0 0 #b7b7b7;
    border-radius: 20px;
    display: inline-block;
    height: 20px;
    margin: 5px 7px;
    width: 20px;
}

.pro-details_slider .owl-dots .owl-dot.active {
    background: none repeat scroll 0 0 #f39f18;
}


.brochure-btn {
    line-height: 0;
    padding: 12px 23px !important;
    border-radius: 4px;
    transition: 0.5s;
    color: #8E2C30 !important;
    background: transparent;
    font-size: 14px;
    border: 1px solid #8E2C30;
    font-weight: 500;
}
.brochure-btn i {
    font-size: 18px;
    padding: 0px 10px;
}

